<footer class="bg-gray-800 py-4">
  <div class="container mx-auto flex justify-between items-center">
    <div>
      <p class="text-white">
        &copy; 2024 Twanst Codes. All Rights Reserved This Is Tutorial
      </p>
    </div>
    <div class="flex space-x-4">
      <a
        href="https://www.youtube.com/@twanstcodes"
        class="text-white hover:text-gray-300"
        >Youtube
      </a>
      <a
        href="https://www.instagram.com/twanstcodes?igsh=MTducGVmN3lrMWN5eQ=="
        class="text-white hover:text-gray-300"
        >Instagram</a
      >
    </div>
  </div>
</footer>
