<div class="flex h-screen">
  <!-- sidbar -->
  <div ng-include="'components/inc/sidebar.html'"></div>
  <!-- sidbar -->

  <!-- Main Content -->

  <div class="container mx-auto px-4">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-5"
    >
      <!-- Card 1 -->
      <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <img
          class="w-30 h-30 object-cover object-center"
          src="../gender/man/shirt.png"
          alt="Product Image"
        />
        <div class="p-4">
          <h2 class="text-lg font-semibold text-gray-800">Product Name</h2>
          <p class="text-gray-600">$19.99</p>
          <button
            class="mt-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded"
          >
            Add to Cart
          </button>
        </div>
      </div>

      <!-- Add more cards as needed -->
    </div>
  </div>

  <!-- Main Content -->
</div>
