<div class="flex h-screen">
  <!-- Sidebar -->
  <div ng-include="'components/inc/sidebar.html'"></div>
  <!-- Sidebar -->

  <!-- Main Content -->
  <div class="container mx-auto px-4">
    <!-- Centered Search Input -->
    <div class="flex justify-center mt-8">
      <input
        type="text"
        placeholder="Search By Name"
        class="w-full max-w-md px-4 py-2 text-center text-gray-700 border rounded-lg focus:outline-none focus:border-blue-500"
      />
    </div>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-5"
    >
      <!-- Card 1 -->
      <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <img
          class="w-30 h-30 object-cover object-center"
          src="../gender/man/2.png"
          alt="Product Image"
        />
        <div class="p-4">
          <h2 class="text-lg font-semibold text-gray-800">T-shirt</h2>
          <p class="text-gray-600">$19.99</p>
          <button
            class="mt-2 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded"
          >
            Add to Cart
          </button>
        </div>
      </div>

      <!-- Add more cards as needed -->
    </div>
  </div>
  <!-- Main Content -->
</div>
